<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>Automatic Pockmarks Mapping (APM)</Name><AddInID>{c6017516-366d-4de5-9dbc-9c4e31642720}</AddInID><Description>Add-in for Automatic Pockmark Mapping</Description><Version>1.0.1</Version><Image>Images\iconoAPM - 120px.png</Image><Author>Grupo de Investigacion de Geociencias Marinas</Author><Company>Instituto Espa&#241;ol de Oceanograf&#237;a. Consejo Superior de Investigaciones Cient&#237;ficas.</Company><Date>11/20/2024</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="pythonAPM_addin.py" namespace="pythonAPM_addin"><ArcMap>
    <Commands>
        <Button caption="Low Pass Filter and Hillshade" category="Automatic Pockmarks Mapping (APM)" class="LowPassFilter" id="pythonAPM_addin.button1" image="Images\filter.png" message="Performs a smoothing filter on a raster" tip="Apply a Low Pass Filter and obtain Hillshade"><Help heading="Performs a smoothing filter on a raster">Performs a smoothing filter on a raster</Help></Button>
        <Button caption="Build BPI" category="Automatic Pockmarks Mapping (APM)" class="BuildBPI" id="pythonAPM_addin.button2" image="Images\bpi.png" message="Build a bathymetric position index grid" tip="Calculate BPI"><Help heading="Build a bathymetric position index grid">Build a bathymetric position index grid</Help></Button>
        <Button caption="Pockmark Extraction" category="Automatic Pockmarks Mapping (APM)" class="PockmarksExtraction2" id="pythonAPM_addin.button3" image="Images\cartography.png" message="Cartographies pockmarks and calculates area and perimeter parameters." tip="Cartography of pockmarks"><Help heading="Cartographies pockmarks and calculates area and perimeter parameters.">Cartographies pockmarks and calculates area and perimeter parameters.</Help></Button>
        <Button caption="Selective Manual Cleaning " category="Automatic Pockmarks Mapping (APM)" class="ManualCleaning" id="pythonAPM_addin.button4" image="Images\cleaning.png" message="Clean up pockmarks you do not consider valid." tip="Selective Manual Cleaning of Pockmarks"><Help heading="Clean up pockmarks you do not consider valid.">Clean up pockmarks you do not consider valid.</Help></Button>
        <Button caption="Partial Extraction of Pockmark Parameters" category="Automatic Pockmarks Mapping (APM)" class="CalculateParametersUno2" id="pythonAPM_addin.button5" image="Images\parameterI.png" message="Partial Calculation of some morphometric parameters" tip="Partial Calculation of parameters"><Help heading="Partial Calculation of some morphometric parameters">Partial Calculation of some morphometric parameters</Help></Button>
        <Button caption="Final Extraction of Pockmark Parameters and Density Map" category="Automatic Pockmarks Mapping (APM)" class="PockmarksParameters2" id="pythonAPM_addin.button6" image="Images\parameters2.png" message="Final Calculation of morphometric parameters and density map" tip="Final Calculation of  parameters and density map"><Help heading="Final Calculation of morphometric parameters and density map">Final Calculation of morphometric parameters and density map</Help></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="Automatic Pockmark Mapping" category="Automatic Pockmarks Mapping (APM)" id="pythonAPM_addin.toolbar" showInitially="true"><Items><Menu refID="pythonAPM_addin.menu1" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Bathymetry Raster Optimization" category="Automatic Pockmarks Mapping (APM)" id="pythonAPM_addin.menu2" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Button refID="pythonAPM_addin.button1" /></Items></Menu>
        <Menu caption="Pockmark Mapping" category="Automatic Pockmarks Mapping (APM)" id="pythonAPM_addin.menu3" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Button refID="pythonAPM_addin.button2" /><Button refID="pythonAPM_addin.button3" /><Button refID="pythonAPM_addin.button4" /></Items></Menu>
        <Menu caption="Extraction of pockmark parameters" category="Automatic Pockmarks Mapping (APM)" id="pythonAPM_addin.menu4" isRootMenu="false" isShortcutMenu="false" separator="false"><Items><Button refID="pythonAPM_addin.button5" /><Button refID="pythonAPM_addin.button6" /></Items></Menu>
        <Menu caption="Automatic Pockmark Mapping" category="Automatic Pockmarks Mapping (APM)" id="pythonAPM_addin.menu1" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Menu refID="pythonAPM_addin.menu2" /><Menu refID="pythonAPM_addin.menu3" /><Menu refID="pythonAPM_addin.menu4" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>